.main-container{
    padding: 0;
}

.main-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}


.main-navigation li{
    display: inline;
    padding: 10px;
    
}

.additional-navigation{
    display: inline;
    float: right;
}

.additional-navigation li{
    display: inline;
    padding: 10px;
    
    
}





